# Dependency directories
node_modules/

# Keep environment variables out of version control
.env

# Prisma generated clients
/generated/prisma/

# 🚀 CRITICAL: AdminJS dynamic compilation cache
# Bunu mutlaka eklemeliyiz, yoksa esbuild'in ürettiği binlerce geçici dosya GitHub'a yüklenir.
.adminjs/

# Production builds (Eğer ileride backend build alırsan)
dist/
build/

# IDE / System files
.DS_Store
Thumbs.db
.vscode/